# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
customer_management_tool/

# Ignore environment files
.env

# Ignore logs and temporary files
*.log
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE/project files
.vscode/
.idea/

